@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css atau App.css */
/* src/index.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@font-face {
  font-family: 'Utah Condensed';
  src: url('./assets/fonts/BRUTCBC0.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr';
  src: url('./assets/fonts/HelveticaNeueCyr Roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* @font-face {
  font-family: 'Helvetica Neue Cyr';
  src: url('/src/assets/fonts/HelveticaNeueCyr-Roman.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
} */
